body { 
    padding: 80px;
    background-color:#CADEDF;
    color:rgb(0, 0, 0);
    font-family: monospace;
    font-size: large;
    text-align: center;
    margin: auto;
  }

 p {
    font-size: small;
    opacity: 0.8;
    margin: 10px 0px 25px 0px;
  }

  #newItem {
    width:fit-content ;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 500;
  }

  #content {
    margin: auto;
  }

  #error {
    color: red;
  }

  .button {
    background-color: #7CB7AF;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 25px;
    margin: 20px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #36534f;
    color: #ffffff;
  }

  .undo {
    font-size: 12px;
  }

  
  .listItem {
    width: auto;
    font-weight: 550;
    height: 30px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 8px;
  }

  .collectedItem {
    background-color:#16796F;
    text-decoration: line-through;
  }

  .notCollectedItem {
    background-color: #ffffff;
  }


  footer p {
    opacity: 0.4;
    bottom: 0;
  }



@media only screen and (min-width: 490px) {
  body {
    background-color: rgb(179, 221, 195);
  }

  #newItem {
    width: 300px ;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
  }

  .listItem {
    width: 500px;
    margin: auto;
    margin-top: 10px;
    
  }
}


