body { 
    padding: 80px;
    background-color: black;
    color:bisque;
    font-family: monospace;
    font-size: large;
    text-align: center;
    margin: auto;
/*     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade 1s ease-in 1s; */

  }

  #instructions {
    font-size: small;
    opacity: 0.8;
    margin: 10px 0px 25px 0px;
    
  }

  #content {
    margin: auto;
  }

  #error {
    color: red;
  }

  .button {
    background-color: rgb(3, 27, 27);
    color: bisque;
    border: none;
    padding: 10px 25px;
    margin: 20px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button:hover {
    background-color:rgb(0, 0, 0);
  }

  /* ostos */
  .listItem {
    width:auto;
    height: 30px;
    background-color: brown;
    margin: 10px;
    text-align: center;
    
  }

  .collectedItem {
    background-color: rgb(0, 94, 8);
    text-decoration: line-through;
  }

  .notCollectedItem {
    background-color: brown;
  }

  button {
    width: 30px;
    height: 30px;
    background-color: bisque;
  }





@media only screen and (min-width: 420px) {
  body {
    background-color: rgb(36, 0, 0);
  }
}


/* @keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */